:root {
  --title-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --primary-title-color: #ffffff;
  --background-color: #2f303a;
  --button-color: #2196f3;
  --button-text-color: #ffffff;
  --footer-color: #ffffff99;
  --bg-footer-color: #2f303a;
  --buttons-color-portfolio: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --our-team-bgc: #f5f4fa;
  --icon-color: #afb1b8;
  --modal-color-input: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

input {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: transparent;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: -37px;
}

.header {
  padding-top: 29px;
  padding-bottom: 29px;
  border-bottom: solid 1px #ececec;
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contacts__link:hover .contacts__icon {
  fill: var(--accent-color);
}

.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts__icon {
  fill: var(--text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 94px;
}

.studio {
  color: var(--title-color);
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-bottom: 66px;
  text-transform: uppercase;
}

.hero__button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
}

.features__container {
  height: 120px;
  width: 270px;
  background-color: var(--buttons-color-portfolio);
  margin-bottom: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__icon {
  height: 70px;
  width: 70px;
  background-size: cover;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.features__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.section__task {
  padding-top: 0;
}

.task__wrapper {
  position: relative;
  overflow: hidden;
}

.task__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  height: 70px;
  width: 100%;
  padding: 27px 82px;
  position: absolute;
}

.task {
  display: flex;
}

.task__item:not(:last-child) {
  margin-right: 30px;
}

.section__team {
  background-color: var(--our-team-bgc);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
  text-align: center;
}

.team {
  display: flex;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.box__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
  text-align: center;
}

.box__paragraph {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  height: 44px;
  width: 44px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__icon {
  height: 20px;
  width: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--button-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--button-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--primary-title-color);
}

.customer {
  display: flex;
  justify-content: center;
}

.customer__item {
  height: 92px;
  width: 170px;
}

.customer__item + .customer__item {
  margin-left: 30px;
}

.customer__icon {
  height: 60px;
  width: 106px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: var(--button-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover, .customer__link:focus {
  border-color: var(--button-color);
}

.customer__link:hover .customer__icon,
.customer__link:focus .customer__icon {
  fill: var(--button-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__contacts {
  margin-right: 70px;
}

.footer {
  background-color: var(--bg-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.connection__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.address {
  margin-top: 20px;
}

.connection {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  font-style: normal;
}

.footer__studio {
  color: var(--button-text-color);
}

.connection__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.connection__link:hover, .connection__link:focus {
  color: var(--accent-color);
}

/* !!!!!!!!!JOIN-footer!!!!!!!*/
.join {
  display: flex;
  justify-content: center;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.join__item {
  height: 44px;
  width: 44px;
}

.join__item + .join__item {
  margin-left: 10px;
}

.join__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background-color: var(--button-color);
}

.join__link:hover .social__icon,
.join__link:focus .social__icon {
  fill: var(--primary-title-color);
}

.join__icon {
  height: 20px;
  width: 20px;
  fill: var(--button-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow__mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
}

.form {
  margin-left: 93px;
}

.follow {
  display: flex;
  justify-content: center;
}

.follow__btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-left: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  transition: transform 250ms ease;
  padding: 40px;
}

.close-btn {
  position: absolute;
  padding: 0;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.button-icon {
  height: 11px;
  width: 11px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 20px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--modal-color-input);
  display: block;
  margin-bottom: 5px;
}

.input-wrapper {
  display: block;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #999999;
  background: transparent;
  padding-left: 40px;
  padding-right: 20px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text {
  width: 100%;
  height: 100px;
  border-radius: 3px;
  resize: none;
  border: 1px solid #999999;
  background: transparent;
  padding: 10px;
  display: block;
}

.modal-btn {
  display: block;
  margin: 0 auto;
}

.check-text {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  margin-bottom: 15px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.check-text span {
  width: 15px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text .modal-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.condition {
  color: var(--button-color);
}

.modal-btn {
  background-color: var(--button-color);
  color: var(--button-text-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
}

.text-box {
  margin-bottom: 20px;
}

.sort__button {
  background-color: var(--buttons-color-portfolio);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sort__button:hover, .sort__button:focus {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sort {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.sort__item:not(:last-child) {
  margin-right: 8px;
}

.case__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.examples__text {
  font-size: 16px;
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__wrapper {
  position: relative;
  overflow: hidden;
}

.case-paragraph {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.examples {
  padding-top: 94px;
}

.examples__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__link:hover .examples__text,
.examples__link:focus .examples__text {
  transform: translateY(0);
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-bottom: 30px;
}

.examples__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.examples__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples__item img {
  width: 100%;
}

.case {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
/*# sourceMappingURL=main.css.map */