body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
}
.btn {
  cursor: pointer;
  border: transparent;
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
  text-align: center;
}
